Package: com.luki.arizona
Name: Arizona
Version: 4.0.1
Architecture: iphoneos-arm
Description: Move the stock clock, date and lock glyph on the fly
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.mrgcgamer.libgcuniversal
